body{
	margin:0px;
	padding: 0px;
	font-family: Hind,Tahoma,sans-serif;
	/*background: #f5f5f5;*/
    background: url("bg322.jpg");

}
.clear {
	clear: both;
	display: block;
}
header{
	width: 100%;
	background: #f5f5f5;
	border-bottom: 2px solid black;
	.headerContainer{
		max-width: 68em;
		margin: auto;
		.menuConters{
			width: 800px;
			margin: auto;
			.logo{
				margin-top:10px;
			}

			.rightSide{
				display: inline-block;
				vertical-align: top;
			    margin-left: 85px;
		        margin-top: 10px;

				.logo2{
				      margin-top: 20px;
					  margin-left: 75px;
				}

				.lines{
			        width: 365px;
					margin-top: 20px;
   					border-bottom: 1px solid black;
				}

				.menus{
					    list-style-type: none;
    					padding: 0px;
    					font-size: 22px;
    					text-align: center;
					a{
						text-decoration: none;
						opacity: 0.6;
						transition:0.6s all;
						color:#000;

						&:hover{
							opacity:1;
							border-bottom: 1px solid black;
						}
					}

					li{
						display: inline-block;
					    margin-left: 10px;
					}

				}
			}
		}
	}
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
main{
	width: 100%;
    border-top: 2px solid black;
	.mainContainer{
		max-width: 68em;
		margin: auto;
	
		.text_info_main_section{
			padding-top: 55px;
			/*color:white;*/
			color:black;
		/*	font-weight: bold;*/
			text-align: center;
			font-size: 25px;
		}
		.gameContainer{
			width: 100%;
			margin-top:20px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			.gameItem{
				flex:0 350px;
				height: 200px;
				margin-top:20px;
				border: 1px solid rgba(0, 0, 0, 0.3);
				position: relative;
				img{
					position: absolute;
					width: 350px;
					height: 200px;
					object-fit: cover;
				}
				.editP{
						position:absolute;
						top:10px;
						right: 80px;
						padding: 5px;
						background: black;
						color:white;
						width: 60px;
						text-align: center;
					    transition: all 0.5s;
						display: none;
						margin-right: 10px;
						&:hover{
							background:#35c0c7;
							color:white;
							cursor: pointer;
						}
					}
					.removeP{
						position:absolute;
						top:10px;
						right: 10px;
						padding: 5px;
						background: black;
						color:white;
						width: 60px;
						text-align: center;
					    transition: all 0.5s;
						display: none;
						
						&:hover{
							background:#35c0c7;
							color:white;
							cursor: pointer;
						}
					}
				.discrription{
					opacity: 0;
				    position: relative;
				    height: 70px;
				    background: rgba(0, 0, 0, 0.7);
				    bottom:0px;
				    left:0px;
				    right: 0px;
				    position: absolute;
				    transition: 1s all;
					.projectText{
					    position: absolute;
					    bottom: 20px;
					    color: #b4b4a9;
					    padding: 5px;
					}
				}
				&:hover .discrription{
					opacity: 1;
				}
				/*#zero{
					visibility: hidden;
					border:1px solid rgba(255,255,255,1);
				}*/
			}
			.show_admi_panel{
				margin-top:20px;
				display: none;
				width: 200px;
			    height: 200px;
			    text-align: center;
			    font-size: 110px;
			    line-height: 1.6;
			    background: lightgray;
			    color: gray;
			    box-shadow: 0 0 4px cornflowerblue;
			    cursor: pointer;
			    transition: 2s all;
			    user-select:none;
			    &:hover{
			    	color:white;
			    }
			}
		}
	}
	.projectInfo{
		width: 100%;
		background:#e0dada;
		margin-top: 30px;
	    border-top: 2px solid #cac0c0;
		.info{
			width: 68em;
			margin:auto;
			padding-top:20px;
			padding-bottom: 40px;
			.last-news{
				width: 100%;
				.newsWraper{
					display: inline-block;
					.news{
						width: 600px;
						margin-top: 35px;
						.img-news{
							display: inline-block;
							margin-top: 5px;
						}
						.newsTextContainer{
						    display: inline-block;
						    vertical-align: top;
						    margin-top: 10px;
						    margin-left: 5px;
							.news-text{
								display: block;
							    width: 400px;
							    font-size: 17px;
							}
							data{
								font-size: 11px;
   								color: #8c7070;
							}
						}
						.nConteiner{
							width: 480px;
						    padding: 10px;
						    background: #e7e1e1;
						    border: 1px solid rgba(0,0,0,0.2);
						    transition: 0.5s all;
							&:hover{
							    cursor: pointer;
							    transform: translateY(-2px);
							    box-shadow: 0px 5px 20px rgba(0,0,0,0.25);
							}
						}
					
					}
					.button_news{
						display: inline-block;
					    margin-left: 190px;
					    vertical-align: top;
					    margin-top: 40px;
						a{
					        text-decoration: none;
						    color: white;
						    background: black;
					        padding: 10px 25px;
						    font-size: 24px;
						    transition: 0.5s all;
						    &:hover{
						    	background:#35c0c7;
						    }
						}
					}
					.show_admin_panel2{
					      	margin-left: 12px;
						    font-size: 40px;
						    text-align: center;
						    height: 48px;
						    line-height: 1.1;
						    width: 50px;
					        background: lightgray;
						    color: gray;
						    box-shadow: 0 0 4px cornflowerblue;
						    cursor: pointer;
						    transition: 2s all;
						    user-select: none;
						    vertical-align: top;
						    margin-top: 30px;
						    display: none;
	    			    &:hover{
			    			color:white;
			    		}
					}
				}
				.firsBigNews{
					display: inline-block;
					vertical-align: top;
    				margin-top: 50px;
    				width: 400px;
    				img{
    					margin-top:10px;
    				}
    				b{
					    font-size: 35px;
    				}
    				iframe{
    					border: 3px solid #ae9e9e;
					    margin-top: 20px;
    				}
				}
			}
		}
	}
}
footer{
    background: #181716;
    position: relative;
    padding-top: 1px;
    padding-bottom: 60px;
    color: rgba(255,255,255,0.3);
    clear: both;
    .footerContainer{
    	max-width: 68em;
    	margin: auto;
    	text-align: center;
    	.menuf{
    		list-style-type: none;
    		text-align: center;
		    font-size: 20px;
    		a{
    			text-decoration: none;
			    opacity: 0.8;
				color: #eee;
				transition: 1s all;
				&:hover{
					opacity: 1;
    			}
    		}
    		li{
    			display: inline-block;
    			padding-left: 20px;
    		}
    	}
    	.net{
    		display: inline-block;
    		margin-left: 100px;
    		.netItem{
    			display: inline-block;
    			padding-left:15px;
    			img{
			 		height: 20px;
    			}
    		}
    	}
    }
}
/*AdminPanel*/
.admin_panel{
	display: none;
	position: fixed;
	z-index:101;
    top: 25%;
   	width: 66em;
    height: 400px;
	border-radius: 20px;
	background: rgba(172, 157, 157, 0.9);
	padding:20px;
	#linkExit{
		text-decoration: none;
		color: red;
		float:right;
		cursor: pointer;
	}
	.formMain{
		width:355px;;
		margin: auto;
		text-align: center;
		margin-top:65px;
		#discriptionImg{
			width: 355px;
			height: 150px;
			padding-top:5px;
			padding-left: 5px;
			display: none;
		}
		#file{
			display: none;
		}
		#submit1{
			cursor: pointer;
			text-decoration: none;
			display: none;
		}
		#topic{
			display: block;
			display: none;

		}
		#date{
			display: block;
			display: none;
		}
		#news{
			width: 355px;
			height: 150px;
			display: none;
		}
		#file2{
			display: none;
		}
		#submit2{
			cursor: pointer;
			text-decoration: none;
			display: none;
		}
	}
	.discHelp{
	    display: none;
	    vertical-align: top;
	    position: absolute;
	    list-style-type: none;
        bottom: 160px;
    	padding-left: 20px;
	}
}
.shadow{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0px;
	display: none;
	z-index:100;
	background: rgba(0,0,0,0.7);
}
.mainNews{
	width: 100%;
	.projectInfoNews{
		width: 100%;
	    border-top: 2px solid #cac0c0;
	    .newsContainer{
	    	width: 68em;
	    	margin:auto;
	    	padding-bottom: 50px;
			.newsSection{
				    max-width: 900px;
				    margin: auto;
				    background: #a49999;
				    margin-top: 50px;
				    padding: 20px;
				    background: white;
				    border: 1px solid rgba(0,0,0,0.3);
				    box-sizing: border-box;
    			    position: relative;
				.newsHeader{
					font-weight: bold;
					font:normal normal normal 33px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
				}
	    		.news{
    			    max-width: 400px;
				    display: inline-block;
				    vertical-align: top;
				    line-height: 1.7;
				    margin-top: 20px;
					img{
						width: 65%;
						margin-left: 95px;
					}
					iframe{
						width: 65%;
						height: 400px;
						margin-left: 95px;
					}
	    		}
	    		.imgContainer{
					display: inline-block;
    				float: right;
				    margin-right: 50px;
				}
				.readMore{
					text-decoration: none;
					text-align: center;
					background-color: rgba(0, 0, 0, 1);
					display: block;
					width: 120px;
					padding:10px;
					color:white;
					transition: all 0.5s;
					margin-top: 20px;
					position: absolute;
					bottom:20px;

					&:hover{
						background:#35c0c7;
					}
				}
	    	}
	    }
	}
}
.wraper{
	width:68em;
	margin:auto;
	.newContainer{
		        width: 45em;
			    margin: auto;
			    padding: 30px;
			    background: white;
			    border: 1px solid rgba(0, 0, 0, 0.3);
			    box-sizing: border-box;
			    margin-top: 50px;
			    margin-bottom: 50px;
		.newTitle{
			font-weight: bold;
			font:normal normal normal 33px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
		}
		.newDate{
			    border-bottom: 1.3px solid rgba(140,112,112,0.2);
			    font-size: 13px;
			    padding: 5px;
			    color: rgb(140,112,112);
		}
		.newImg img{
			    width: 100%;
   				margin-top: 5px;
		}
		.New{
		    margin-top: 10px;
		    text-align: justify;
		    color: rgba(0,0,0,0.7);
			img{
				width: 550px;
				padding-top:10px;
				padding-bottom: 10px;
			}
		}
	}
}
.editPanel{
	display: none;
	position: fixed;
	z-index:101;
    top: 25%;
   	width: 66em;
    height: 400px;
	border-radius: 20px;
	background: rgba(172, 157, 157, 0.9);
	padding:20px;
	#linkExit{
		text-decoration: none;
		color: red;
		float:right;
		cursor: pointer;
	}
	.formMain{
		width:355px;;
		margin: auto;
		text-align: center;
		margin-top:65px;
		#discriptionImg{
			width: 355px;
			height: 150px;
			padding-top:5px;
			padding-left: 5px;
			display: none;
		}
		#topic{
			display: block;

		}
		#date{
			display: block;
		}
		#news{
			width: 355px;
			height: 150px;
		}
		#submit2{
			cursor: pointer;
			text-decoration: none;
		}
	}
	.discHelp{
	    vertical-align: top;
	    position: absolute;
	    list-style-type: none;
        bottom: 160px;
    	padding-left: 20px;
	}
}

.edit{
	padding: 5px;
	background: black;
	color:white;
	width: 60px;
	text-align: center;
    transition: all 0.5s;
	display: none;
	float: right;
	margin-right: 10px;
	&:hover{
		background:#35c0c7;
		color:white;
		cursor: pointer;
	}
}
.remove{
	padding: 5px;
	background: black;
	color:white;
	width: 60px;
	text-align: center;
    transition: all 0.5s;
	display: none;
	float: right;
	&:hover{
		background:#35c0c7;
		color:white;
		cursor: pointer;
	}
}
.preloader {
	  position: fixed;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 100%;
	  height: 100%;
	  background: white;
	  z-index: 100;
	  img{
	  		width: 25%;
	  		margin: auto;
	  		top:20%;
	  }
  }

////////////////////////////////////////////////////////FORUM/////////////////////////////////////////
.fHeaderContainer{
	width: 1200px;
	margin:auto;
	border:2px solid black;
	padding:20px;
	box-sizing: border-box;
	.menu{
		display: inline-block;
		margin-left: 130px;
	}
	.owlLogo{
		display: inline-block;
	}
	.menu a{
		text-decoration: none;
		color:black;
		margin-left: 30px;
	}
	#regForum{
		float:right;
		text-decoration: none;
	}
	.fAuthorization{
		display: inline-block;
		margin-left: 130px;
		input{
			width: 100px;
		}
		div{
			display: inline-block;
			cursor: pointer;
		}
	}
	#quit{
		display: inline-block;
		color:black;
		cursor: pointer;
		margin-left: 20px;
	}
}
.fMainContainer{
	width: 1200px;
	margin:auto;
	border:2px solid black;
	margin-top:50px;
	padding: 20px;
	box-sizing: border-box;
	.fMainMenuWraper{
		width: 100%;
		padding:20px;
		border:2px solid black;
		box-sizing: border-box;
		.fMainMenu{
			margin-left: 100px;
			& a{
				margin-left:20px;
			}
			.serch{
				float:right;
				& input{
					border: 2px solid black;
				}
			}
		}
	}

	.announcements{
		width: 847px;
		margin-top:20px;
		padding:20px;
		height: 150px;
		border: 2px solid black;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
	}

	.posts{
	    width: 24.5%;
	    margin-top: 20px;
	    padding: 20px;
	    height: 400px;
	    border: 2px solid black;
	    box-sizing: border-box;
	    display: inline-block;
	    vertical-align: top;
	    margin-left: 20px;
	}

	.topics{
		width: 847px;
		margin-top: -230px;
		padding:20px;
		border: 2px solid black;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		#forumTopicContent{
			margin: 0px;
	   		width: 277px;
	    	height: 51px;
		}
		#addForumTopic{
			display: inline-block;
			vertical-align: top;
			width: 100%;
			text-align: center;
			border: 1px solid black;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-top: 20px;
			background: #40E0C8;
			cursor: pointer;
		}
		.topic{
			width: 100%;
			padding: 20px;
			border: 2px solid black;
			box-sizing: border-box;
			margin-top:20px;
			min-height: 75px;
			.TopicContent{
				display: inline-block;
			}
			.delleteTopic{
				display: inline-block;
				margin-top: 0px;
				float: right;
				cursor: pointer;
			}
			.makerTag{
				display: inline-block;
				width: 100%;
				font-size: 11px;
				span{
					color:RGBA(0,0,0,0.7);
				}
			}
		}
	}

	.lastTopics{
   		width: 24.5%;
	    margin-top: 20px;
	    padding: 20px;
	    height: 200px;
	    border: 2px solid black;
	    box-sizing: border-box;
	    display: inline-block;
	    vertical-align: top;
	    margin-left: 20px;
	}
}
////////////POPA ADD TOPICK
.windowAddTopick{
	width: 500px;
	margin: auto;
	background: green;
	padding: 20px 40px;
	box-sizing: border-box;
	margin-top:200px;
	.headerAddTopick{
		.headerAddTopickInput{
			display: inline-block;
			& span{
				background: gray;
			    vertical-align: middle;
		        padding: 5.3px;
			    box-sizing: border-box;
			}
			& input{
				padding:0px 20px;
				width: 165px;
				height: 30px;
				box-sizing: border-box;
			}
		}
		.myStatus{
			display: inline-block;
			float:right;
		}
	}
	.mainAddTopick{
		& .textarea{
			width: 425px;
			height: 150px;
			margin: auto;
			margin-top:20px;
			background: white;
			border: 1px solid black;
		}
	}
	.footerAddTopick{
		.footerAddTopickWraper{
			display: block;
			width: 100%;
			margin-top: 20px;
		    margin-left: calc(100% - 125px);
			.sendDataAddTopick{
				display: inline-block;
				margin-right: 10px;
				background: #5a5a5a;
				padding:5px 10px;
				box-sizing: border-box;
				color:white;
				&:hover{
				    cursor: pointer;
				}
			}
			.showSmileList{
				display: inline-block;
				background: #5a5a5a;
				padding:5px 10px;
				box-sizing: border-box;
				color:white;
				&:hover{
				    cursor: pointer;
				}
			}
		}
	}

	.smileListWraper{
		position: absolute;
		width: inherit;
		height: 200px;
		left: calc(50% - 250px);
	    top: calc(0% + -300px);
		background: white;
		padding: 20px 40px;
		box-sizing: border-box;
		transition: all 1s;
		z-index:-1;
		text-align: center;
	}
	.smileList{
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	.toggleSmileList{
		top: calc(0% + 490px);
		z-index: -1;
	}
}

//////Registration
.fRWraper{
	width: 450px;
	margin: auto;
	background: white;
	border: 1px solid black;
	box-shadow: 0px 0px 4px 1px #2a2d2c;
	margin-top:60px;
	padding:20px 40px;
	& span{
		text-align: center;
		color:rgba(0,0,0,0.5);
	}
	.fRForm {
			& input{
			width: 67%;
		    height: 50px;
		    margin: auto;
		    display: block;
		    margin-top: 30px;
		    padding-left: 20px;
		    box-sizing: border-box;
		}
		.fRSubmitt{
	      		width: 100%;
			    height: 50px;
			    margin: auto;
			    margin-top: 30px;
			    background: #119a68;
			    padding: 15px 10px;
			    text-align: center;
			    box-sizing: border-box;
			    color: #f8e8e8;
		        font-weight: bold;
			    transition: all 1s;
			&:hover{
			    cursor: pointer;
			    color: #34383d;
			    font-weight: bold;
			}
		}
	}
	.g-recaptchaWraper{
		width: 300px;
	    margin: auto;
	    margin-top: 20px;
	}
}
.dDiv{
	width: 400px;
	height: 150px;
	margin: auto;
	background: white;
	border: 1px solid black;
}
/*Topic*/
.topicsContainer{
	width: 1200px;
	margin:auto;
	padding: 20px;
	box-sizing: border-box;
	.btnAddTopic{
		text-decoration: none;
	    color: white;
	    background: black;
	    padding: 10px 25px;
	    font-size: 15px;
	    transition: 0.5s all;
	    &:hover{
    		background: #35c0c7;
    		cursor: pointer;
	    }
	}
	.topicTopic{
		padding: 20px;
		margin-top: 20px;
		box-sizing: border-box;
		border: 2px solid black;
	}
}
/*TopicCreate*/
.createTopickContent{
	width: 1200px;
	margin: auto;
	border: 2px solid black;
	padding: 20px;
	box-sizing: border-box;
	margin-top:20px;
}

.butonSendTopick{
	text-decoration: none;
	color: white;
	display: inline-block;
	background: black;
	padding: 10px 25px;
	font-size: 15px;
	transition: 0.5s all;
	&:hover{
		background: #35c0c7;
		cursor: pointer;
	}
}