<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registration</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<script src="js/jquery.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<body>
	<section class ="fRWraper">
		<span><h1>Registration</h1></span>
		<form class = "fRForm">
			<input type="login" placeholder="Login" class = "frlogin">
			<input type="password" placeholder="Passoword" class = "frpassword">
			<input type="password" placeholder="Repassoword" class = "frrepassword">
			<input type="text" placeholder="Email" class = "fremail">
			<div class = "g-recaptchaWraper">
				 <div class="g-recaptcha" data-sitekey="6LeonC0UAAAAAPpZq8zn2_WeY6HDRorVQ34WKi3v"></div>
			      <br/>
			<div class="fRSubmitt">Send</div>
		</form>
	</section>

</body>
<script src = "js/reg.js"></script>
</html>